h1 {
    font-family: "lemon-milk", sans-serif;
}

.bob-img {
    width: 200px;
    margin: 20px;
}

.temp-img-hover img:hover, .temp-img-hover video:hover {
    opacity: 0.4;
}

.temp-img-hover video:focus {
    display: none;
}

/*
img:not(.no-hover):hover { only apply hover styling when the div does not have the class 'no-hover'
    opacity: 0.4;
}*/