<html>
    <head>
        {% if title %}
        <title>{{ title }} - BobComeHome</title>
        {% else %}
        <title>Welcome to BobComeHome</title>
        {% endif %}
    </head>
    <body>
        <div>BobComeHome: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>

        <!--render all previously flashed messages here-->
        {% with messages = get_flashed_messages() %} <!--asisign result of get_flashed_messages() to a var-->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %} <!--define where this template should insert 'content' block-->
    </body>
</html>