<!--basically we're saying "use base.html, and replace 'content' block with what's defined here"-->
{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <!--action tells browser the URL that should be used when submitting the form. When empty, submits to current URL-->
    <!--method is HTTP request method that should be used when submitting form to server-->
    <!--novalidate used to tell browser to not apply validation to fields in this form, leaving it to Flask app-->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} <!--hidden_tag() generates hidden field that incl token used to protect form against CSRF attax-->
        <!--the form fields from flask_wtf know how to render themselves as HTML-->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }} <!--size is an HTML attribute that will be added when <input> tag is generated-->
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}