<!--embed this into base.html-->
<!--basically we're saying "use base.html, and replace 'content' block with what's defined here"-->
{% extends "base.html" %}

{% block content %}
    <link href="{{url_for('static', filename='css/memories.css')}}" type="text/css" rel="stylesheet">
    <h1 class="ml-10 mt-10 text-8xl">Good times.</h1>
    <div class="ml-10 mt-10">
       Under construction.
       {% for bob_group in bobs | batch(5) %}
            <div class="flex items-center">
                {% for bob in bob_group %}
                    <img class="bob-img" src="{{url_for('static', filename=bob)}}" alt="{{bob}}">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}